.todo-title {
    background-color: rgba(160, 221, 174, 0.342);
    border: 1px solid rgb(114, 160, 125);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.add-todo {
    background-color: rgba(160, 221, 174, 0.7);
    border: 1px solid rgb(114, 160, 125);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
}