.trello-wrap {
    background-color: rgba(221, 160, 221, 0.342);
    border: 1px solid rgb(190, 136, 190);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
}

img {
    width: 20%;
}